body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

html,
body,
#root {
  height: 100vh;
  overscroll-behavior-y: none;
}

img {
  border-style: none;
  height: auto;
  max-width: 100%;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
}

code {
  background-color: #eeeeee;
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
  padding: 2px;
}
